extends ../../layout

block content
	link(rel='stylesheet', href='/css/jquery-ui.min.css')
	script(src='/js/jquery-ui.min.js')
	script(src='/js/jquery.ui.touch-punch.min.js')
	script.
		//데이터 배열
		var div_arr = !{JSON.stringify(list)}
		
		//드래그 처리
		$(function(){
			$("div#body div.item_table").draggable({
				containment: "#body", 
				scroll: false,
				drag: function(){
					var offset = $(this).offset();
					var xPos = offset.left;
					var yPos = offset.top;
					console.log('x : ' + xPos);
					console.log('y : ' + yPos);
				}
			});
		});
		
		//등록
		function add(){
			var no = makeNo();
			$.ajax({
				method: 'POST',
				dataType: 'json',
				url: 'http://localhost:3001/settings/tableInsert',
				data: {'no':no},
				success: function(obj){
					alert(obj.data.no);
				}
			});
		}
		
		//등록 숫자 생성(현재 데이터 중 비어있는 숫자 또는 가장 큰수
		function makeNo(){
			var pre_no = 0;
			var no = 0;
			for(var idx in div_arr){
				no = Number(div_arr[idx].no);
				var gap = no - pre_no;
				if(gap == 1){
					pre_no = no;
				} else {
					return pre_no + 1;
				}
			}
			return no + 1;
		}
	div#header
		div.row
			div.col-xs-6
				button.btn.btn-default.btn-lg.btn-block(type='submit', onclick='javascript:goPage("/settings", "searchForm");') 뒤로가기
			div.col-xs-6
				button.btn.btn-default.btn-lg.btn-block(type='submit', onclick='javascript:goPage("/settings/table/update", "searchForm", "PUT");') 설정완료
		div.row
			div.col-xs-6
				button.btn.btn-default.btn-lg.btn-block(type='submit', onclick='javascript:goPage("/settings/table/delete", "searchForm");') 삭제하기
			div.col-xs-6
				button.btn.btn-default.btn-lg.btn-block(type='submit', onclick='javascript:add();') 추가하기
	div#body
		each item in list
			div.item_table(id='#{item._id}', style='left: #{item.position_x}px; top: #{item.position_y}px;') #{item.no}
	